<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="dropdown text-end">
            <h4>
                <a href="/needs" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="http://www.gravatar.com/avatar/?d=mp" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                Chaos Control  
            </h4>
            
          
        <hr class="dropdown-divider">
        </div>
      </div>
    </div>
  </header>
  <router-outlet />
