<body>
  <!-- Content sits on top of full background -->
  <div class="content-body">

    <!-- Header / Nav section -->
    <h1 class="page-header">
      Cupboard
      <div class="header-buttons">
        <a href="/create">
          <button *ngIf="userAdmin">Add Needs</button>
        </a>
      </div>
    </h1>

    <!-- Search bar -->
    <div class="search-container">
      <app-need-search></app-need-search>
    </div>

    <!-- Sort Options (10%) -->
    <div class="header-buttons" style="margin-bottom:25px;">
      <button
      [disabled]="!needs || needs.length === 0"
      (click)="sortByDefault()">Default</button>
      <button (click)="sortByPriceAscending()"
      [disabled]="!needs || needs.length === 0">Sort Cost (High to Low)</button>
      <button (click)="sortByPriceDescending()"
      [disabled]="!needs || needs.length === 0">Sort Cost (Low to High)</button>
    </div>

    <!-- Product Grid -->
    <ul class="needs-grid">
      <li *ngFor="let need of needs" style="width:100%;">
        <a href="/needs/{{need.id}}">
          <div style="display:flex;justify-content: space-between;align-items:center;width:100%;">
            <p>{{need.name}}</p>
            <p>${{need.cost}}</p>
          </div>
        </a>
      </li>
    </ul>

  </div>
</body>
