<body>
    <div id="options">
        <button type="button" (click)="goToLogin()">Login</button>
        <button type="button" (click)="goToRegister()">Register</button>
    </div>
    <div id = "info-sections">
        <div id="Who">
            <h2>Who</h2>
            <p>
                Chaos Control is a dedicated charity organization focused on providing essential food and goods to communities impacted by natural disasters. 
            </p>
        
        </div>
        <div id="Goal">
            <h2>Mission</h2>
            <p>
                Our mission is to bring relief, hope, and support to those facing devastation by mobilizing resources quickly and effectively.
            </p>
        </div>
    </div>
</body>