* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url('../../images/Tornado.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 8vh;
  overflow: hidden;
}

#login {
  background-color: rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  margin-left: 5vw;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#login p {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 2px solid #4e4c4c;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #fff;
  transform: translateY(-2px);
}
